{% comment %}
    Crude content parser to inject Glossary tooltips. Don't judge me.
{% endcomment %}
{% assign glossary = site.pages | where:"ref", "glossary" | where:"lang", page.lang | first %}
{% if glossary == null %}
    {% assign glossary = site.pages | where:"ref", "glossary" | where:"lang", "en" | first %}
{% endif %}
{% assign lines = include.md_content | newline_to_br | split:'<br />' %}
{% assign one_space = " " %}
{% for line in lines -%}

    {%- comment -%}
        Detect indentation and preserve it (because we're going to destroy it when splitting by ' ').
    {%- endcomment -%}
    {%- assign line_arr = line | split:'' | slice:1,1000-%}
    {%- for char in line_arr -%}
        {%- if char != ' ' -%}{%- break -%}{%- endif -%}
        {{ one_space }}
    {%- endfor -%}

    {%- assign words = line | split:' ' -%}
    {%- for word_org in words -%}
        {%- assign word = word_org -%}
        {%- assign context_org = null -%}
        {%- assign context = null -%}
        {%- if word_org contains "_" -%}
            {%- assign parts = word_org | split:"_" -%}
            {%- if parts.size == 2 -%}
                {%- assign word = parts[0] -%}
                {%- assign context_org = parts[1] -%}
                {%- assign context = context_org | downcase |
                    remove:'(' | remove:')' | remove:'[' | remove:']' | remove:'^' | remove:'-' | remove:'.' | remove:',' | remove:'!' | remove:'?' | remove:"'" |
                    remove:'0' | remove:'1' | remove:'2' | remove:'3' | remove:'4' | remove:'5' | remove:'6' | remove:'7' | remove:'8' | remove:'9' -%}
            {%- endif -%}
        {%- endif -%}
        {%- assign word_clean = word | strip_html | downcase |
            remove:'(' | remove:')' | remove:'[' | remove:']' | remove:'^' | remove:'-' | remove:'.' | remove:',' | remove:'!' | remove:'?' | remove:"'" |
            remove:'0' | remove:'1' | remove:'2' | remove:'3' | remove:'4' | remove:'5' | remove:'6' | remove:'7' | remove:'8' | remove:'9' -%}
        {%- assign term = glossary.terms[word_clean] -%}
        {%- if term != null -%}
            <span class="tooltip" onmouseenter="placeTooltip(this)"><span class="tooltiptext">{{ word_clean | upcase }}<br/>
            {%- if context != null -%}
                <span class="glossary_separator"></span><span class="glossary_category">{{ context }}</span><br/>{{ term[context] }}<br/>
            {%- else -%}
                {%- for meaning in term -%}
                    <span class="glossary_separator"></span><span class="glossary_category">{{ meaning[0] }}</span><br/>{{ meaning[1] }}<br/>
                {%- endfor -%}
            {%- endif -%}
            </span>{{ word }}</span>
        {%- else -%}
            {{ word_org }}
        {%- endif %} {% endfor %}
{% endfor %}
